
[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:/slaclab/ruckus
[submodule "software/aes-stream-drivers"]
	path = software/aes-stream-drivers
	url = git@github.com:/slaclab/aes-stream-drivers
[submodule "firmware/submodules/rce-gen3-fw-lib"]
	path = firmware/submodules/rce-gen3-fw-lib
	url = git@github.com:/slaclab/rce-gen3-fw-lib
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:/slaclab/surf
[submodule "firmware/submodules/timing-board-firmware"]
	path = firmware/submodules/timing-board-firmware
	url = git@gitlab.cern.ch:protoDUNE-SP-DAQ/timing-board-firmware.git
	proxy = http://localhost:8888
